/* ESTILOS GENERALES */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
}

header {
    width: 100%;
    height: 100px;
}

h2 {
    margin: 20px 0;
    text-align: center;
    font-weight: 800;
}

/***********************************************************************************************/
/* BARRA DE NAVEGACION */
nav {
    z-index: 9999;
    height: 100px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo {
    width: 200px;
    margin-left: 20px;
}

.bar-btn {
    font-size: 25px;
    margin-right: 20px;
    cursor: pointer;
}

.bar-btn img {
    width: 32px;
}

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background-color: orangered;
    opacity: 95%;
    text-align: center;
    transition: all .5s;
}

ul {
    padding-left: 0;
}

.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.nav-menu li a {
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
}

.nav-menu li a.active,
.nav-menu li a:hover {
    color: white;
    transition: .2s;
}

#check {
    display: none;
}

#check:checked~.nav-menu {
    height: 100vh;
}

#check:checked~.nav-menu li {
    display: block;
}


/* DESKTOP */

@media screen and (min-width: 1024px) {
    .logo {
        margin-left: 50px;
    }

    nav {
        height: 100px;
    }

    .bar-btn {
        display: none;
    }

    .nav-menu {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 10px;
        transition: none;
    }

    .nav-menu li a {
        font-size: 20px;
        text-decoration: none;
    }

    .nav-menu li a.active,
    .nav-menu li a:hover {
        color: orangered;
        transition: .2s;
    }
}

/***********************************************************************************************/
/* PIE DE PAGINA */

.pie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    font-size: 14px;
    background-color: black;
    color: white;
    padding: 20px;
}

.data-fiscal {
    height: 50px;
    margin: 10px 0;
}

.pie-text {
    margin: 10px 0;
}

.img-redes {
    margin-top: 10px;
    padding: 0 5px;
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    .pie {
        flex-direction: row;
        justify-content: space-between;
        height: 100px;
        padding: 0;
    }

    .data-fiscal {
        padding-left: 20px;
    }

    .social-bar {
        padding-right: 20px;
    }

    .img-redes {
        margin-top: 0px;

    }
}

/***********************************************************************************************/
/* SECCION NOVEDADES */

.novedades {
    height: 50vh;
    width: 100%;
    background-image: url(../images/rojo1000x800.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    .novedades {
        height: 70vh;
        background-image: url(../images/rojo1600x800.png);
    }
}

/***********************************************************************************************/
/* PRODUCTOS DESTACADOS */
.productosDestacados {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 50px 0;
}

.productosCard {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    justify-content: center;
    text-align: center;
    border: solid 4px rgb(230, 230, 230);
    border-radius: 10px;
    cursor: pointer;
}

.card h3 {
    text-align: center;
    margin: 20px 10px;
}

.cardTransicion {
    transition: all 0.4s;
}

.cardTransicion:hover {
    border: orangered solid 4px;
}

.imgCard {
    margin: 20px;
}

/* TABLET */

@media (min-width: 481px) and (max-width: 1023px) {
    .productosCard {
        display: flex;
        flex-flow: row wrap;
        margin: 20px 0;
    }

    .card {
        width: 400px;
    }
}

/* DESKTOP */

@media screen and (min-width: 1024px) {
    .productosCard {
        display: flex;
        flex-flow: row;
        margin: 20px 0;
    }

    .card {
        width: 400px;
    }

}

/***********************************************************************************************/
/* SECCION QUIENES SOMOS */

.quienesSomos {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: orangered;
    flex-direction: column;
}

.quienesSomos h1,
.quienesSomos p {
    text-align: center;
    color: orangered;
    margin: 20px;
}

.ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.ubicacion h2 {
    color: orangered;
}

.mapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mapa p {
    color: orangered;
}

.mapa div {
    padding: 30px;
}

.mapaIframe {
    width: 90vw;
    height: 50vh;
}


/* TABLET */

@media (min-width: 481px) and (max-width: 1023px) {
    .quienesSomos {
        min-height: 20vh;
    }

    .ubicacion {
        height: 100%;
        min-height: 80vh;
    }

    .mapa div {
        padding: 10px;
    }

    .mapaIframe {
        width: 80vw;
        height: 450px;
    }

}

/* DESKTOP */

@media screen and (min-width: 1024px) {
    .quienesSomos {
        min-height: 40vh;
    }

    .ubicacion {
        height: 100%;
        min-height: 60vh;
        padding-bottom: 80px;
    }

    .mapa {
        flex-direction: row;
        margin: 20px;
        text-align: left;
    }

    .mapaIframe {
        width: 50vw;
        height: 450px;
    }
}